.top-nav {
	font-size: 12px;
	font-weight: 900;
	list-style: none;
	border-bottom: 8px solid #dc4e1b;
	overflow: auto;	
	/*清除浮动，overflow会清除自己，该元素会扩展到它需要的大小，以包围其中浮动的子元素*/
}

.top-nav li {
	float: left;
	margin-left: 1px;
}

.top-nav li a {
	line-height: 20px;
	text-decoration: none;
	background-color: #ddd;
	color: #666;
	display: block;
	width: 80px;
	text-align: center;
}

.top-nav li a span {
	display: none;
}

.top-nav li a:hover span {
	display: block;
	background-color: #dc4e1b;
	color: white;
}

.top-nav li a:hover {
	margin-top: -20px;
}